<!DOCTYPE html>
<html class="scroll-smooth hover:scroll-auto dark" lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{page.title}} | {{site.name}}</title>

  {% seo %}

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/theme.css">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1QWG9YKN41"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1QWG9YKN41');
  </script>
</head>

<body class="w-fit sm:w-auto">
  <header class="gaps-4 py-4 px-10 dark:bg-gray-900 dark:text-white">
    <div class="container mx-auto flex items-center justify-between">
      <div class="logo flex items-center justify-center text-2xl font-bold pb-3">
        <a href="/" class="relative -mt-2">
          <span class="text-6xl text-teal-500">.</span>
          <span
            class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-teal-500 relative inline-block">
            <span class="relative text-white">muhfaris</span>
          </span>
        </a>
      </div>
      <nav class="hidden sm:block">
        <ul class="flex font-semibold text-xl">
          <li>
            <a href="/blog" class="mr-4 dark:text-white dark:hover:text-teal-400">/blog</a>
          </li>
          <li>
            <a href="mailto:dev@muhfaris.com" class="mr-4 dark:text-white dark:hover:text-teal-400">/contact</a>
          </li>
          <li>
            <a href="#project" class="dark:text-white dark:hover:text-teal-400">/project</a>
          </li>
        </ul>
      </nav>
      <nav class="sm:hidden">
        <ul class="flex items-center font-semibold text-xl">
          <li class="px-2 mr-4">
            <a href="/blog" class="dark:text-white dark:hover:text-teal-400">
              <svg class="fill-grey-500 hover:fill-teal-500 w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M19 4h-1a1 1 0 1 0 0 2v11a1 1 0 0 1-2 0V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a1 1 0 0 0-1-1ZM3 4a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4Zm9 13H4a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-3H4a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-3H4a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-3h-2a1 1 0 0 1 0-2h2a1 1 0 1 1 0 2Zm0-3h-2a1 1 0 0 1 0-2h2a1 1 0 1 1 0 2Z" />
                <path d="M6 5H5v1h1V5Z" />
              </svg>
            </a>
          </li>
          <li class="px-2 mr-4">
            <a href="#project" class="dark:text-white dark:hover:text-teal-400">
              <svg class="fill-grey-500 hover:fill-teal-500 w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                <path
                  d="M18 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM5 12a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm10 6H9a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2Zm0-3H9a1 1 0 0 1 0-2h6a1 1 0 1 1 0 2Zm0-3H9a1 1 0 0 1 0-2h6a1 1 0 1 1 0 2Z" />
              </svg>
            </a>
          </li>
          <li class="px-2 mr-4">
            <a href="mailto:dev@muhfaris.com" class="dark:text-white dark:hover:text-teal-400">
              <svg class="fill-grey-500 hover:fill-teal-500 w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                <path
                  d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Content -->
  <main role="main" class="site-content dark:bg-gray-800">{{ content }}</main>

  <!-- Footer -->
  <footer class="text-gray-600 body-font">
    <div class="dark:bg-gray-900">
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        </a>
        <p class="text-sm dark:text-white sm:ml-6 sm:mt-0 mt-4">
          © 2023 Muh Faris—
          <a href="https://twitter.com/_muh_faris" rel="noopener noreferrer" class="dark:text-white ml-1"
            target="_blank">@_muh_faris</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a class="ml-3 dark:text-white">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
              viewBox="0 0 24 24">
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
              </path>
            </svg>
          </a>
          <a class="ml-3 dark:text-white">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>
</body>

</html>
