<!DOCTYPE html>
<html class="scroll-smooth hover:scroll-auto dark" lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{page.title}} | {{site.name}}</title>

    {% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/theme.css" | relative_url }}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="">
    <header class="gaps-4 py-4 dark:bg-gray-900 dark:text-white">
      <div class="container mx-auto flex items-center justify-between">
        <div class="logo flex items-center justify-center text-2xl font-bold">
          <a href="/" class="relative -mt-2">
            <span class="text-6xl text-teal-500">.</span>
            <span
              class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-teal-500 relative inline-block"
            >
              <span class="relative text-white">muhfaris</span>
            </span>
          </a>
        </div>
        <nav>
          <ul class="flex font-semibold text-xl">
            <li>
              <a href="/" class="mr-4 dark:text-white dark:hover:text-teal-400"
                >/home</a
              >
            </li>
            <li>
              <a href="/blog" class="mr-4 dark:text-white dark:hover:text-teal-400"
                >/blog</a
              >
            </li>
            <li>
              <a
                href="mailto:dev@muhfaris.com"
                class="mr-4 dark:text-white dark:hover:text-teal-400"
                >/contact</a
              >
            </li>
            <li>
              <a href="#project" class="dark:text-white dark:hover:text-teal-400"
                >/project</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Content -->
    <main role="main" class="site-content dark:bg-gray-800">{{ content }}</main>

    <!-- Footer -->
    <footer class="text-gray-600 body-font">
      <div class="dark:bg-gray-900">
        <div
          class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col"
        >
          <a
            class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
          >
          </a>
          <p class="text-sm dark:text-white sm:ml-6 sm:mt-0 mt-4">
            © 2023 Muh Faris—
            <a
              href="https://twitter.com/_muh_faris"
              rel="noopener noreferrer"
              class="dark:text-white ml-1"
              target="_blank"
              >@_muh_faris</a
            >
          </p>
          <span
            class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
          >
            <a class="ml-3 dark:text-white">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                ></path>
              </svg>
            </a>
            <a class="ml-3 dark:text-white">
              <svg
                fill="currentColor"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="0"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="none"
                  d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
                ></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </footer>
  </body>
</html>
